<div class="index_pg">
<h1>Welcome to <br>Brooklyn Whinery</h1>
<img src="/img/wine-bottles-index.jpg" alt="wine bottles" class="z-depth-4 responsive-img">
<h3 class="font-change">A forum for wine, <br>whining and wastrels</h3>
<div class="about-modal">
<a class="waves-effect waves-light btn brown darken-3 modal-trigger" href="#modal1">About</a>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>About</h4>
      <p>Brooklyn Whinery is an online forum that lets you create and share wine tasting
      menus based on your mood. Are you brooding? Celebrating? Relaxing? With an extensive
      database of wines, vintages and vinters, we have the wine recommendation that's
      perfect for you! Add tasting notes and discuss wines with other users, and vote on your
      favorite menus.</p>
      <p>And the best part — it's free and easy to use! Simply create an account
      and login to begin.</p>
    </div>
    <div class="modal-footer">
      <a href="/signup" class=" modal-action modal-close waves-effect brown darken-3
      btn-flat grey-text text-lighten-3 abt-mdl">Signup</a>
      <a href="/login" class=" modal-action modal-close waves-effect brown darken-3
      btn-flat grey-text text-lighten-3 abt-mdl">Login</a>
    </div>
  </div>
</div>
<div class="btn-div"><a class="waves-effect waves-light btn brown darken-3" href="/signup">Sign Up</a></div>
<div class="btn-div"><a class="waves-effect waves-light btn brown darken-3" href="/login">Login</a></div>
</div>
