<!doctype html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href='https://fonts.googleapis.com/css?family=Cinzel|Open+Sans' rel='stylesheet' type='text/css'>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Custom CSS Rules-->
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div class="container brown lighten-5">

  <nav>
    <div class="nav-wrapper brown clearfix main_content">
      <a href="/" class="brand-logo">
        <img src="img/wine-logo.jpg" alt="wine-logo" class="circle responsive-img col s1">
      </a>
      <a href="/" class="brand-logo brand-logo-text">Brooklyn Whinery</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#modal2" class="modal-trigger">About</a></li>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
<%= yield %>
<div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>About</h4>
      <p>Brooklyn Whinery is an online forum that lets you create and share wine tasting
      menus based on your mood. Are you brooding? Celebrating? Relaxing? With an extensive
      database of wines, vintages and vinters, we have the wine recommendation that's
      perfect for you! Add tasting notes and discuss wines with other users, and vote on your
      favorite menus.</p>
      <p>And the best part — it's free and easy to use! Simply create an account
      and login to begin.</p>
    </div>
    <div class="modal-footer">
      <a href="/signup" class=" modal-action modal-close waves-effect brown darken-3
      btn-flat grey-text text-lighten-3 abt-mdl">Signup</a>
      <a href="/login" class=" modal-action modal-close waves-effect brown darken-3
      btn-flat grey-text text-lighten-3 abt-mdl">Login</a>
    </div>
  </div>

  <footer class="page-footer brown darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Brooklyn Whinery</h5>
                <p class="grey-text text-lighten-4">A forum to create and share wine tasting menus to suit your mood.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul class="font-change">
                  <li><a class="grey-text text-lighten-3" href="#">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/allmenus">Menus</a></li>
                  <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="/signup">Signup</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright brown darken-4">
          <div class="container" id="footer-txt">
            © May 2016 Hailey Miller
          </div>
          </div>
        </footer>
  </div>
</body>
</html>
<!--Import jQuery before materialize.js-->
<script src="/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
