<div class="main_content make_menu">
<div class="container">
<h3>Create a New Menu</h3>
<div class="form-wrapper">
<form class="form" actions="/makemenu" method="post">
<div class="input-row">
  <label for="title">Title:</label>
  <input type="text" name="title"/>
</div>

<div class="section">
<div  class="moods section"><p>Are you sad or celebrating?</p>
<input type="checkbox" name="mood" value="sad" id="sadcheck"/>
<label for="sadcheck">sad</label>
<input type="checkbox" name="mood" value="happy" id="happycheck"/>
<label for="happycheck">celebrating</label>
</div>
</div>
<div class="wine-color section">Would you like<br>
        <input type="checkbox" name="color" value="red" id="redw"/><label for="redw">red</label><br>
        <input type="checkbox" name="color" value="white" id="ww"/><label for="ww">white</label><br>
        <input type="checkbox" name="color" value="both" id="bothw"/><label for="bothw">both?</label>
</div>

<div class="input-row">
      <input type="submit" value="Finish"><br>
</div>
</form>
</div>
<%#if @created%>
<%#=@newmenu%>
<%#end%>
</div>
</div>
