<div class="main_content">

<p>K let's make a menu</p>
<form class="form" actions="/makemenu" method="post">
<div class="input-row">
  <label for="title">Title:</label>
  <input type="text" name="title"/>
</div>

<div class="section">
<div  class="moods section"><p>Are you sad or celebrating?</p>
<input type="checkbox" name="mood" value="sad" id="sadcheck"/>
<label for="sadcheck">sad</label>
<input type="checkbox" name="mood" value="happy" id="happycheck"/>
<label for="happycheck">celebrating</label>
</div>
</div>
<div class="wine-color section">Would you like<br>
        <input type="checkbox" name="color" value="red" id="redw"/><label for="redw">red</label><br>
        <input type="checkbox" name="color" value="white" id="ww"/><label for="ww">white</label><br>
        <input type="checkbox" name="color" value="both" id="bothw"/><label for="bothw">both?</label>
</div>

<!--
<div class="col s12">
<label>What kind of wine would you like?</label>
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option name="color" value="red">red</option>
      <option name="color" value="white">white</option>
      <option name="color" value="both">both</option>
    </select>
-->

  </div>

<div class="input-row">
      <input type="submit" value="Finish"><br>
</div>
</form>
<%if @created%>
<%=@newmenu%>
<%end%>
</div>
