<div class="signout_pg">
<h5>You have successfully signed out</h5>
<p>Come whine and dine with us again soon!</p>
<div class="signout-btn-pg"><a class="waves-effect waves-light btn brown darken-3 btn-brdr" href="/login">Login</a></div>
</div>
