body{
  background-image: url('/img/wood-background.jpg')
}

h1,h3,h4,h5,h6,a,button{
  font-family: cinzel, serif;
}

p,li,input,#footer-txt{
  font-family: 'open sans', sans-serif;
}

.font-change, .font-change a, h2{
  font-family: 'open sans', sans-serif;
}

/*Navbar Styling*/
.clearfix{
  overflow: auto;
}

#logo{
  padding: .5em;
}

nav .nav-wrapper {
  height: 6.5em;
  overflow: hidden;
}

nav .brand-logo {
  position: inherit;
  float: left;
}

nav .brand-logo-text {
  float: left;
  margin: 0 0 0 20px;
}

#modal2{
  font-size: 1.1em;
}

/*Footer styling*/
.font-change a:hover{
  opacity: .5;
}

/*Content page styling*/
.main_content {
  padding: 1em;
}

/*Index page styling*/
.index_pg{
  padding: 1.5em;
  line-height: 125%;
  text-align: center;
}

.index_pg img{
  border: .5em solid #8d6e63;
}

.index_pg a, .btn-brdr{
  border: .2em solid #8d6e63;
}

.btn-div{
 display: inline-block;
 margin: 0 auto;
 padding: 1em;
}

.index_pg p{
  font-size: 1.5em;
  line-height: 125%;
}

/*Signup page styling*/
.signup_pg, .login_pg{
  padding: 2em;
}

.btn-brdr{
  margin-top: 1em;
}

.login-success{
  line-height: 150%;
}

/*
.input-colors input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
*/

/*Make Menu Page*/
.make_menu{
  padding: 4em 0 2em 0;
}

.make_menu p{
  font-size: 1.5em;
}

label {
  color: #222;
}

/*All Menus Page*/
.allmenus_pg{
  padding: 2.5em;
  font-size: 1.2em;
}

.welcome{
  text-align: center;
  margin-bottom: 2em;
}

#sorter{
  line-height: 100%;
  margin-bottom: 0em;
}

.random-order{
  padding-top: 1em;
}

.top-likes p, .top-comments p{
  padding-bottom: .5em;
}

/*Individual Menu Stylings*/
.single_menu{
  padding: 2em;
}

.menu-content{
  padding: 2em 4em;
  text-align: center;
  font-size: 1.2em;
}

.comments-etc{
  padding: 0 4em;
}

.add-border{
  border-bottom: .2em solid #9e9e9e;
}

.hidden-box{
  display: none;
}
